/*.container */
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*---   UP SECTION   ---*/

.up-section {
    background: url("../IMAGES/Section Background/section-1(header).jpg");
}

/*---   HEADER   ---*/

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(94, 93, 88, 0.6);
    color: white;
}
.link-header {
    /*text-decoration: none;*/
    text-transform: uppercase;
    color: white;
}
.link-header:hover {
    color: #18CFAB;
}
.ul-nav {
    display: flex;
    margin: 0;
}
.ul-nav > a {
    display: inline-block;
    /*list-style-type: none;*/
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-right: 21px;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    border-bottom: 4px solid;
    border-color: transparent;
}

.ul-nav > a:hover {
    /*box-shadow: 0 4px 0 #18CFAB;*/
    /*border-bottom: 4px #18CFAB;*/
    border-color: #18CFAB;
}


.logo-header {
    display: inline-block;
}
.logo > img {
    padding-top: 25px;
}
.logo > span {
    position: relative;
    bottom: 23px;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: white;
}
.logo > span > span {
    color: #18CFAB;
    font-weight: bold;
}
.logo::before {
    position: relative;
    left: 42px;
    bottom: 19px;
    content: url("../Icons/H.png");
}


/*---   WE ARE CREATIVE   ---*/

.we-are-creative {

}
.wordpress-theme {
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 35px;
}
.we-are-creative > p:first-child {
    margin-top: 264px;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
}
.we-are-creative > p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 78px;
    color: white;
}
.we-are-creative > p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    color: #d4d4d4;
    font-weight: 300;
}

/*---   BUTTONS   ---*/
.explore-now,.purchase-now,.purchase-btn,.load-more {
    text-transform: uppercase;
    padding: 16px 18px;
    color: white;
    border-radius: 5px;
    border: 0;
    margin-top: 135px;
    margin-bottom: 245px;
}
.buttons-decor-shadow {
    box-shadow: inset 0 5px 0 0 white;
}
.explore-now,.load-more {
    background-color: rgb(24,207,171);
    margin-right: 13px;
}
.load-more {
    margin-top: 135px;
    margin-bottom: 0;

    /*position: absolute;*/
    /*top: 1100px;*/
}
.purchase-now {
    background-color: #06cbf6;
    margin-left: 13px;
}

/*---   FOUR SQUARES   ---*/
.four-squares {
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    font-size: 25px;
}
.four-squares > a:nth-child(even){
    padding: 100px 0;
    width: 25%;
    background-color: #18cfab;
    color: white;
}
.four-squares > a:nth-child(odd) {
    padding: 100px 0;
    width: 25%;
    background-color: #1c2a34;
    color: #18cfab;
}
.four-squares > a:nth-child(odd) > p {
    margin-top: 50px;
}
.four-squares > a:nth-child(even) > p {
    margin-top: 70px;
}

/*---   ---   ---   --- ---*/
/*---   OUR SERVICES   ---*/
/*---   ---   ---   --- ---*/
/*первый TAB*/
.our-services-block {
    margin: 0 auto;
    width: 1144px;
    /*height: 240px;*/
    color: #717171;
    padding-bottom: 60px;
}
/*--- ПЕРВЫЙ ТАБ ---*/

.tabs-nav-services {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px lightgray solid;
}

.ul-nav-our-services {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.ul-nav-our-services > li {
    width: 191px;
    box-sizing: border-box;
    padding: 15px 0;
    border-right: 1px #ebecec solid;
}
.ul-nav-our-services > li:last-child {
    border-right: none;
}

.ul-nav-our-services > li:hover {
    border-right: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #18CFAB;
}


.tabs-content {
    width: 1144px;
    display: flex;
    justify-content: center;
}
.tabs-images > img {
    width: 192px;
    height: 136px;
}
.tabs-paragraph {
    width: 952px;
    /*height: 136px;*/
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
}
.tabs-paragraph-text {
    margin: 0 auto;
    height: 136px;
    overflow: auto; /*если контент больше, чем нужно*/
}



/*---   PURCHASE NOW BLOCK   ---*/

.purchase-now-block {
    background: url("../IMAGES/Section Background/section-2.jpg") no-repeat center center fixed;
    opacity: 0.9;
    background-size: cover;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
}
.purchase-now-block > p:first-child {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
}
.purchase-btn {
    background-color: #18CFAB;
    margin-top: 67px;
    margin-bottom: 127px;
}
.shadow-div {
    position: relative;
    margin: auto;
    z-index: 2;
    background-color: rgba(00,00,00,0.7); /*делаем так, что бы дочерние элементы не были прозрачными*/
}
.shadow-div > p:first-child {
    margin-top: 0;
    padding-top: 125px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
/*    margin-top: 0;*/
}
.shadow-div > p:nth-child(2) {
    /*padding-bottom: 70px;*/
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: white;
    margin-bottom: 0;
}

/*---   OUR AMAZING WORK   ---*/
.our-amazing-work {
    background-color: #e9edef;
    padding-bottom: 135px;
}
.our-amazing-work > p {
    /*padding: 85px 0 100px 0;*/
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
}
/*---   3-й ТАБ   ---*/
.tabs-menu-amazing {
    display: inline-block;
    margin-bottom: 84px;
}

/*---------------------*/
.ul-nav-amazing-work {
    display: flex;
    justify-content: center;
    border: 1px lightgrey solid;
}

/*---------------------*/
.ul-nav-amazing-work > li {
    color: #717171;
    list-style-type: none;
    padding: 15px;
    border-right: 1px lightgrey solid;
}
/*.tabs-menu-amazing > ul > li {*/
/*    color: #717171;*/
/*    list-style-type: none;*/
/*    padding: 15px;*/
/*    border-right: 1px lightgrey solid;*/
/*}*/
/*---------------------*/
.ul-nav-amazing-work > li:hover {
    box-shadow: inset 0 0 0 2px #18CFAB;
    /*color: #18CFAB;*/
    color: white;
    /*color: black;*/
    cursor: pointer;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
}

.tabs-pictures {
    margin: 0 auto;
    width: 1132px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    justify-content: center;
}
.tabs-pictures > img {
    height: 206px;
}


/*---   HOVER  BLOCK   ---*/

.amazing-hover-block {
    width: 284px;
    height: 206px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.amazing-hover-block:hover .amazing-block-link {
    bottom: 0;
    transition: 1s;
}

.amazing-block-link {
    position: absolute;
    bottom: -206px;
    width: 100%;
    /*width: 284px;*/
    height: 206px;
    background-color: white;
    box-sizing: border-box;
    border-top: 5px #18CFAB solid;
    /*z-index: -1;*/
}
.amazing-block-link > a {
    display: inline-block;
    margin: 40px 5px 20px 5px;
    padding: 12px 15px;
    border: 1px #18CFAB solid;
    border-radius: 50%;
    font-size: 18px;
    color: #18CFAB;
}
.amazing-paragraph-hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
}
.amazing-block-link > p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.amazing-block-link > a:hover {
    color: white;
    background-color: #18CFAB;
}


/*---   BREAKING NEWS   ---*/


.news-pictures > div {
    display: inline-block;
}

.qwerty {
    width: 263px;
    height: 208px;
    display: flex;
}
.news-pictures {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 263px);
    justify-content: center;
    padding-bottom: 130px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
}
.breaking-news-para {
    margin-top: 0;
    padding-top: 82px;
}
.news-pictures > div > a {
    color: #717171;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 39px;
}
.news-pictures > div > a:hover .little-square{
    background-color: #18cfab;
    color: white;
}
.news-pictures > div > a:hover {
    color: #18cfab;
}
.element-breaking-link {
    position: relative;
}
.little-square {
    position: absolute;
    z-index: 1;
    left: 61px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #203f39;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.news-pictures > div > p > a {
    color: #717171;
    font-weight: lighter;
    font-size: 13px;
    text-decoration: none;
}
.news-pictures > div > p > a:first-child {
    padding-right: 10px;
    border-right: 1px solid grey;
}

.news-pictures > div > p > a:last-child {
    padding-left: 10px;
}


.title-box {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 0;
    margin-bottom: 0;
    padding: 90px 0 25px 0;
}



/*///////////////////*/
/*----   ----   ----   WHAT PEOPLE SAY   ----   ----   ----*/
/*//////////////////*/
.what-people-say {
   background: url("../IMAGES/Section Background/section-3.jpg")no-repeat center;
    background-size: cover;
    color: white;
}
.what-people-say > p:first-child {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    padding: 136px 0 0 0;
    margin-top: 0;
}
.all-hr {
    width: 80px;
    height: 2px;
    border: 1px #18cfab solid;
    border-radius: 10%;
    background-color: #18cfab;
    margin-bottom: 75px;
}

.all-hr::after {
    content: '';
    position: relative;
    top: 10px;
    left: 20px;
    text-align: center;
    /*margin: 0 auto;*/
    display: block;
    height: 1px;
    border: 1px #18cfab solid;
    border-radius: 10%;
    width: 80px;
    background-color: #18cfab;
    color: #18cfab;
}
.quotes {
    display: block;
    padding: 66px 0 0 0;
    font-size: 100px;
    color: #18CFAB;
}
.fa-quote-right {
    color: #18CFAB;
    font-size: 25px;
}


/*---   ----   WHAT PEOPLE SAY ===>>>   MAIN PORTRET   ----  ---*/
.slider-div {
    margin: 0 auto;
    width: 1160px;
}
.slider-div > p:nth-child(1) {
    margin: 0 auto;
    /*width: 1160px;*/
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}
.slider-div > p:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
    /*padding-bottom: 38px;*/
}
.slider-div > p:nth-child(3) {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #BBBBBB;
    text-transform: uppercase;
}
.slider-div > img {
    width: 145px;
    height: 145px;
    border: 4px rgba(24,207,171, 0.5) solid;
    border-radius: 50%;
}
.portrets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
.small-portrets {
    width: 58px;
    height: 58px;
    border: 2px rgba(24,207,171, 0.5) solid;
    border-radius: 50%;
    margin: 38px;
    box-sizing: border-box;
}
.small-portrets:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px 20px rgba(24,207,171, 0.5);
}

/*------------*/


.button-slider {
    border: 1px white solid;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 6px 11px;
    margin: 0 35px;
}
.button-slider:hover {
    background-color: white;
    color: #18CFAB;
}




/*---   ----   FOOTER   ----   ---*/
footer {
    padding: 50px 0;
    background-color: #22353f;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #9b9d9f;
}
footer > span {
    color: #18CFAB;
}
.start-decor {
    background-color: #18CFAB;
    color: white;
}


/*---- JS ---- JS ---- JS ---- JS ---- JS ----*/
.when-page-downloaded {
    display: block;
}
.change-color {
    background-color: white;
    color: #18CFAB;
}
.tabs-onclick {
    background-color: #18CFAB;
    color: white;
}
.active-tab {
    background-color: #18CFAB;
    color: white;
    position: relative;
}
.active-tab-amazing {
    background-color: #18CFAB;
    color: white;
}
.tabs-onclick::before, .active-tab::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
}
.tabs-onclick::after {
    border-color: rgba(24, 207, 171, 0);
    border-top-color: #18CFAB;
    border-width: 15px;
    margin-left: -15px;
}
.active-pics {
    display: block;
}
.all-tags {
    display: block;
}
.visible {
    display: block;
}
.hide {
    display: none;
}
.hide-button {
    display: none;
}

/*--------------------------- ANIMATION ----------------------------------------*/
.active-icon {
    position: relative;
    transform: scale(1.7);
}
active-icon-left {
    position: relative;
}
@keyframes to-the-left {
    0% {
        transform: scale(0.9);
        left: 5px;
    }
    50% {
        transform: scale(2);
        left: -30px;
    }
    100% {
        left: -40px;
        transform: scale(0.9);
    }
}
.active-icon-left {
    animation: to-the-left 2s linear;
}
/*-------------------*/
.active-icon-right {
    position: relative;
}
@keyframes to-the-right {
    0% {
        transform: scale(0.9);
        left: -5px;
    }
    50% {
        transform: scale(2);
        left: 30px;
    }
    100% {
        left: 40px;
        transform: scale(0.9);
    }
}
.active-icon-right {
    animation: to-the-right 2s linear;
}

